{{set . "title" "User"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="hero-text">
      <h1>{{ .greeting }}</h1>
      <a href="/user/new">Add users</a>
        <ul>
          {{ range $index, $element := .users }}
            {{ range $key, $value := $element }}
              <li>{{ $key }}</li>
            {{end}}
          {{ end }}
      <p></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

