{{set . "title" "User"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="hero-text">
      <h1>{{ .greeting }}</h1>
      <a href="/user/new">Add users</a>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {{ range $index, $element := .users }}
            {{ with $element }}
            <tr>
              <th>{{$index}}</th>
              <td>{{ index . "username" }}</td>
              <td>{{ index . "email" }}</td>
            </tr>
            {{ end }}
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

